<h4 class="text-center">it looks like you'd  <strong><i>love</i></strong></h4>
<h3 class="text-center"><%= @country %></h3>

<p class="text-center"><%= link_to "save this result", save_result_path(centroid: @centroid, country: @country) %> | <%= link_to 'keep swiping', next_card_path %></p>
<%= render 'recommendation' %>

<p class="text-center">This was based on <%= @liked.count %> images you liked. <% if @cluster.key?(1) %>You also really liked <%= @country_b %><% end %><% if @cluster.key?(2) %> and <%= @country_c %><% end %></p>

