<div class="blue-body"><div class="container text-center suggestionation">

<h4 class="white-title">looks like you'd love</h4>
<h3 class="white-title"><%= @country %></h3>
<p class="explanation"><strong><%= (@cluster[0].count.fdiv(@liked.count) * 100).to_i  %>%</strong> of places you liked were in <%= @country %></p>
<p class="text-center"><%= link_to "save this result", save_result_path(centroid: @centroid, country: @country) %>&emsp;|&emsp;<%= link_to 'keep swiping', next_card_path %>&emsp;|&emsp;<%= link_to 'start over', restart_path %></p>


<%= render 'recommendation' %>

  <!-- <div class="bottom-wrapper text-center">
    round-trip flights are <a href="<%#= @skyscanner_url %>"><%#= @quote.round %>&euro;</a>
    <br /><a href="http://skyscanner.net" target="_blank"><%#= image_tag 'skyscanner.png'%></a>
  </div> -->

<div class="row">
      <%= link_to itinerary_path do %>
        <div class="col-xs-12 text-center suggestion-bar">
              Preview This Trip
        </div>
      <% end %>
</div>

</div>
</div><!-- blue-body -->
<!-- Out of <%#= @liked.count %> images you liked, <%#= @cluster[0].count %> of them were in <%= @country %>. <%# if @cluster.key?(1) %>You also really liked <%= @country_b %><%# end %><%# if @cluster.key?(2) %> and <%= @country_c %>, too<%# end %> -->
