<h4 class="text-center">it looks like you'd love <strong><%= @country %></strong></h4>
<h5 class="text-center"><% if @cluster.key?(1) %>and you'd also enjoy <%= @country_b %><% end %><% if @cluster.key?(2) %> and <%= @country_c %><% end %></h5>

<p class="text-center"><%= link_to "save this result", save_result_path(centroid: @centroid, country: @country) %> | <%= link_to 'keep swiping', next_card_path %></p>
<%= render 'recommendation' %>

<p>This was based on <%= @liked.count %> images you liked.</p>
