<% @search = JSON.parse(cookies[:search]) %>

<div class="navbar-wagon">

  <!-- Logo -->

  <div class="navbar-wagon-brand">
    <%=link_to root_path do %>
    <%= image_tag 'logo_black.png'%>
    <% end %>
  </div>

<% if controller_name == 'cards' || 'results' && action_name == 'show' %>
  <div class="your-search">
  <p class="your-search text-center">Departing from <%= @search[0] %> for <%= @search[1] %></p>
  <p><%= link_to 'start over', search_path, class: "text-center small"%></p>
  </div>
<% end %>


  <!-- Right Navigation -->
  <%= render 'shared/my_account_button' %>

  <!-- Dropdown appearing on mobile only -->

</div>
