<!-- <style type="text/css"> *{ border: 1px solid red !important;} </style> -->

<div class="wrapper">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 appointments-list">
      <h3>My Current Recommendations | <%= link_to 'new', restart_path %></h3>
      <br />

      <% unless current_user.recommendations.empty? %>
        <% current_user.recommendations.each do |reco| %>
        <h4><%= reco.country %> | <%= link_to "view", existing_path(reco) %> | <%= link_to "delete", existing_path(reco), method: :delete %> |
        <%= link_to 'improve', improve_path(reco) %></h4>
        <p>based on <%= reco.swipes.count %> likes, last updated at <%= reco.created_at %></p>
        <% end %>
      <% end %>
    </ul>



    </div>
    <div class="col-xs-12 col-sm-3 rightwhite">
      <h3>My Details</h3>
      <p><%= current_user.first_name %> <%= current_user.last_name %></p>
      <p><%= current_user.email %></p>
      <p><%= link_to 'Edit my details', edit_user_registration_path %></p>
      <p><%= link_to 'Delete my account', cancel_user_registration_path %></p>
    </div>
  </div>

  </div><!--end of container-->
</div> <!--end of the wrapper-->
