<!-- <style type="text/css"> *{ border: 1px solid red !important;} </style> -->
<% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>

<div class="dash-wrapper">
  <div class="container">

    <div class="row">

      <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center">
      <%= image_tag current_user.facebook_picture_url || "http://placehold.it/30x30", class: "avatar-large" %>
        <h4><%= current_user.first_name %> <%= current_user.last_name %></h4>
        <p><%= current_user.email %></p>
        <p><%= link_to 'Edit my details', edit_user_registration_path %></p>
        <p><%= link_to "Delete my account", cancel_user_registration_path, data: { confirm: "Are you sure you want to delete your account? All your saved searches will be lost." } %></p>
        <p><strong><%= link_to 'Sign Out',  destroy_user_session_path, method: :delete %></strong></p>
      </div>


      <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center">
        <h4>My Saved Destinations</h4>
        <% unless current_user.recommendations.empty? %>
          <% current_user.recommendations.each do |reco| %>
          <% if reco.country.blank? %>
            <h4><%= link_to "Incomplete Search", existing_path(reco) %></h4>
          <% else %>
            <h4><%= link_to reco.country, existing_path(reco) %></h4>
          <% end %>



          <p>based on <%= reco.swipes.count %> likes, saved on <%= reco.created_at.strftime("%b #{reco.created_at.day.ordinalize}") %></p>

          <% @act = (Card.near([reco.latitude, reco.longitude], 1000)).size %>
          <% unless @act < 1 %>
            <p><%= @act %> things you can do near here </p>
          <% end %>

          <p><%= link_to "view", existing_path(reco) %> | <%= link_to "delete", existing_path(reco), method: :delete %> |
          <%= link_to 'improve', improve_path(reco) %></p>
          <% end %>
        <% end %>
      </div>

      <div class="col-sm-9 hidden-xs text-left dashbig">
        <h3>My Saved Destinations</h3>
        <% unless current_user.recommendations.empty? %>
          <% current_user.recommendations.each do |reco| %>
          <% if reco.country.blank? %>
            <h4><%= link_to "Incomplete Search", existing_path(reco) %></h4>
          <% else %>
            <h4><%= link_to reco.country, existing_path(reco) %></h4>
          <% end %>



          <p>based on <%= reco.swipes.count %> likes, saved on <%= reco.created_at.strftime("%b #{reco.created_at.day.ordinalize}, %Y") %></p>

          <% @act = (Card.near([reco.latitude, reco.longitude], 1000)).size %>
          <% unless @act < 1 %>
            <p><%= @act %> things you can do near here </p>
          <% end %>

          <p><%= link_to "view", existing_path(reco) %> | <%= link_to "delete", existing_path(reco), method: :delete %> |
          <%= link_to 'improve', improve_path(reco) %></p>
          <% end %>
        <% end %>
      </div>

      <div class="col-sm-3 hidden-xs text-right dashbig">
        <%= image_tag current_user.facebook_picture_url || "http://placehold.it/30x30", class: "avatar-large" %>
        <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
        <p><%= current_user.email %></p>
        <p><%= link_to 'Edit my details', edit_user_registration_path %></p>
        <p><%= link_to "Delete my account", cancel_user_registration_path, data: { confirm: "Are you sure you want to delete your account? All your saved searches will be lost." } %></p>
        <p><strong><%= link_to 'Sign Out',  destroy_user_session_path, method: :delete %></strong></p>
      </div>

    </div><!-- end of row -->
  </div><!--end of container-->
</div> <!--end of the wrapper-->
