<div class="steps">
  <div class="step1">
    <div class="step-image">
      <%= image_tag "step1.svg" %>
    </div>
    <div class="step-content">
      <h3> Step 1 </h3>

      <p> Tap yes when you like the picture </p>
    </div>
    <div class="arrow1">
    <%= image_tag "Arrow1.png" %>
  </div>
  </div>
  <div class="step2">
    <div class="step-content">
      <h3> Step 2 </h3>

      <p> Display your results map to find out your preferred destination </p>
    </div>

    <div class="step-image">
    <%= image_tag "step2.svg" %>
    </div>

    <div class="arrow2">
    <%= image_tag "Arrow2.png" %>
    </div>
  </div>
<div class="step3">
    <div class="step-image">
      <%= image_tag "step3.svg" %>
    </div>
    <div class="step-content">
      <h3> Step 3 </h3>

      <p> Learn more on where you will go next! </p>
    </div>
  </div>
</div>
