<div id="header" role="banner" class="homepage-center-wrapper" style="background-image: linear-gradient(-225deg, rgba(153,252,255,0.7) 0%, rgba(0,76,126,0.7) 50%), url('<%=image_path "bg-landing.jpg"%>') ;">
  <div class="center-content">

      <%= image_tag "destinose-icon.png", class: 'landing-icon' %>
      <%= image_tag "logo_white.png", class: 'logo' %>
        <h2>
          The smart way to pick your next travel destination
        </h2>
         <%= link_to restart_path do %>
        <div class="btn btn-primary btn-lg">Get started</div>
        <% end %>


  </div>

<div class="about-link">
    <%= link_to 'About', about_path %>
</div>

</div>


