<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 50%), url(<%= image_path "bg-landing.jpg" %>);">

  <div class="container-login-landing">
  <% if user_signed_in? %>

    <div class="navbar-wagon-item">
      <div class="dropdown">
        <a href="" id="navbar-wagon-menu" class="navbar-wagon-item navbar-wagon-button btn dropdown-toggle searchpage" data-toggle="dropdown">MY ACCOUNT</a>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to 'Dashboard', dashboard_path %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>

  <%else%>

    <%=link_to "SIGN IN", new_user_session_path%>

  <% end %>
  </div>

  <div class="container">
    <%= image_tag 'handzon.png', class: 'main-logo' %>
    <h3 class="motto">massage on demand</h3>
    <%= render 'shared/search_form' %>
  </div>


</div>





