<div class="container text-center">
<h3>Log In</h3>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true, label: false, placeholder: "your email" %>
    <%= f.input :password, required: false, label: false, placeholder: "your password" %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<%= link_to user_facebook_omniauth_authorize_path do %>
    <div class="facebook-btn">
      Log in with Facebook
    </div>
  <% end %>
<br />
<%= render "devise/shared/links" %>
</div>
<<<<<<< HEAD

<!-- Google Analytics universal -->
<!-- <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63609634-2', 'auto');
  ga('send', 'pageview');

</script> -->
=======
>>>>>>> ab8bc7e21c63fde363e289dcb6c879cc8f1b2fc6
