<div class="blue-body">
<div class="container text-center">

    <div class="row">
      <p class="top-message"><strong>just tap like</strong><br />to add it to your trip</p>


        <div class="col-xs-12 col-md-8 col-md-offset-2">

            <div class="card-wrap text-center">
              <div class="row">
                  <!-- RENDERING IMAGE -->
                    <div style="background-image: url(<%= cl_image_path(@current_card.image, width: 800, quality: 80, crop: :fill, id: @current_card.id) %>); height: 50vh; background-size: cover; background-position: center;"></div>
              </div>

              <div class="row">
                <%= link_to swipe_path(liked: 0, card_id: @current_card.id) do %>
                  <div class="col-xs-6 btn-swipe btn-no">
                    <%= image_tag 'cross.png' %>
                  </div>
                <% end %>
                <%= link_to swipe_path(liked: 1, card_id: @current_card.id) do %>
                  <div class="col-xs-6 btn-swipe btn-yes">
                   <%= image_tag 'tick.png' %>
                  </div>
                <% end %>
              </div>
              <div class="row shadow-1"></div>
              <div class="row shadow-2"></div>
            </div>


       </div>
    </div>

  <% if @liked.count >= 10 %>
    <div class="row">
      <%= link_to results_path do %>
        <div class="col-xs-12 text-center suggestion-bar">
              Find My Next Destination
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="row">
        <div class="col-xs-12 text-center suggestion-bar greyed-out">
              Find My Next Destination
        </div>
    </div>
  <% end %>



</div>
</div><!-- blue body end -->
