
<div class="container card text-center">
  <div class="row">
    <p class="instructions"><strong>tell us if you like what you see</strong><br />and we'll build a recommendation</p>
    <%= cl_image_tag(@current_card.image, height: 500, width: 500, crop: :fill, id: @current_card.id)%>
  </div>

  <div class="row">
    <div class="col-xs-6 btn-swipe btn-no text-center">
      <%= link_to "No", swipe_path(liked: 0, card_id: @current_card.id) %>
    </div>

    <div class="col-xs-6 btn-swipe btn-yes text-center">
      <%= link_to "Yes", swipe_path(liked: 1, card_id: @current_card.id) %>
    </div>
  </div>

  <%#= link_to "find my destination", results_path if @current_strength >= 4 %>
  <% if @liked.count >= 15 %>
    <div class="row">
      <div class="col-xs-6 text-center suggestion-bar">
        <%= link_to results_path do %>
        <div class="suggestion-text">
            Find My Next Destination
        </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="row">
        <div class="col-xs-6 text-center suggestion-bar-grey">
          <div class="suggestion-text greyed-out">
              Find My Next Destination
          </div>
        </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-6 text-center progress-container">
      <div class="progress-text">
          Recommendation Strength: <%= @current_strength %>&percnt;
      </div>
      <div class="progress-bar" style="width:<%= @current_strength %>%"></div>
    </div>
  </div>

</div>

