<!DOCTYPE html>
<html>
  <head>
    <title>Destinosé</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon"
      type="image/png"
      href="<%= image_path 'worldemoji.png' %>">
  </head>

  <body>
  <!-- adding notices for Devise -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <!-- rendering view -->
    <%= yield %>
  </body>
</html>
